@font-face {
  font-family: "MriyaGrotesk ExtraBold";
  font-style: normal;
  font-weight: 800;
  src: local("MriyaGrotesk ExtraBold"), local("MriyaGrotesk-ExtraBold"),
    url("/public/fonts/MriyaGrotesk-ExtraBold.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --Vintage: #2d4659;
  --Cosmic: #f0eb8d;
  --Rustic: #ea5455;
  --Sunset: #210062;
  --Industrial: #f45050;
  --Blackout: #f3efe0;
  --Vibrant: #4a0e5c;
  --Coastal: #005874;
  --Oceanic: #cbe4de;
}
.Vintage:after {
  background: var(--Vintage);
}

.Cosmic:after {
  background: var(--Cosmic);
}

.Rustic:after {
  background: var(--Rustic);
}

.Sunset:after {
  background: var(--Sunset);
}

.Industrial:after {
  background: var(--Industrial);
}

.Blackout:after {
  background: var(--Blackout);
}

.Vibrant:after {
  background: var(--Vibrant);
}

.Coastal:after {
  background: var(--Coastal);
}

.Oceanic:after {
  background: var(--Oceanic);
}

@layer components {
  .Black-orange-bg {
    background-image: radial-gradient(#4f4c4b 1.5px, transparent 1.5px),
      radial-gradient(#4f4c4b 1.5px, transparent 1.5px);
    background-color: #232020;
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
  }
}
